{% extends 'main.html' %}

{% block header %}
{% if form.errors %}
<ul>
{% for field in form%}
    {% for error in field.errors %}
        <li>Campo {{field.label}}-{{error|escape}}</li>    
    {% endfor %}
{% endfor %}
</ul>
{% endif %}
{% endblock header %}
    

{% block body %}
    <form action="" method='post'>
        {% csrf_token %}
        
        {% for field in form %}
            <div>
                <label for="{{field.id_for_label}}">{{field.label}}</label>
                <div>{{ field }}</div>
            </div>
        {% endfor %}
        <input type="submit">
    </form>
{% endblock body %}
    