<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    Deslogueate <a href="{% url 'logout' %}">aquí</a> 
    inicia header
    {% block header %}
    
    {% endblock %}
    inicia body
    {% block body %}
    
    {% endblock %}
    inicia footer
    {% block footer %}
    
        {% endblock %}
</body>
{% block scripts %}

{% endblock scripts%}
</html>